*
{
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}
.section1
{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(Malick.jpg);
    height: 230vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.navbar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 45px;
    position: relative;
    right: -50px;
    font-size: 1.3em;
    text-transform: capitalize;
}
nav li a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav li
{
   list-style-type: none;
   margin-right: 27px;
}   
button
{
    background-color:crimson ;
    color: white;
    border: 2px solid transparent;
    border-radius: 23px;
    padding: 8px 25px 8px 25px;
    max-height: 100vh;
    max-width: 900px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.navbar h2
{
    color: white;
    cursor: pointer;
}
span
{
    color: crimson;
}
nav ul 
{
    display: flex;
}   
nav li a:hover
{
    color: crimson;
}
button:hover
{
    transform: scale(1.2)
}
.Bloc-Section1 
{
    position: absolute;
    top: 30%;
    right: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.input
{
    display: flex;
}
.Bloc-Section1 p
{
    margin-bottom: 20px;
    color: white;
}
.Bloc-Section1 p:nth-child(1)
{
    font-size: 18px;
    font-weight: bold;
    color: lightpink;
}
.Bloc-Section1 p:nth-child(2)
{
    font-size: 70px;
    font-weight: bold;
}
.Bloc-Section1 p:nth-child(3)
{
    font-size: 22px;
    font-weight: bold;
}
.search
{
    width: 300px;
    border: 2px solid crimson;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}
.button
{
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: crimson;
    padding: 4px;
    width: 105px;
    cursor: pointer;
    position: absolute;
    right: 145px;
    bottom: 7px;
    box-shadow: 2px 4px 11px black;
    color: white;
}
/*Fin section1*/
.section2
{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 97vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.text-bloc-section2
{
   width: 37%;
   margin-top: 150px;
   margin-right: 320px;
   color: white;
}
.Bloc-section2
{
   display: flex;
   justify-content: space-around;
   width: 110%;
   margin-left: 100px;
}
.img-section2
{
    width: 23%;
    height: 70vh;
    margin-top: 100px;
    margin-left: 230px;
}
.text-bloc-section2 h2
{
    font-size: 4em;
}
.text-bloc-section2 h5
{
    font-size: 1.3em;
    margin-top: 20px;
}
.text-bloc-section2 p
{
    margin-top: 20px;
    color:  lightpink;
    width: 70%;
}
.text-bloc-section2 button
{
    margin-top: 50px;
}
.text-bloc-section2 button:hover
{
    background: transparent;
    border: 2px solid crimson;
    border-radius: 23px;
    padding: 8px 25px 8px 25px;
    transform: none;
}
/*Fin Section2*/
.section3
{
    background-color: black;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section3 h1
{
    text-align: center;
    color: white;
    font-size: 4em;
    margin-bottom: 40px;
}
.Blocs i
{
    color: crimson;
    font-size: 35px;
    margin-bottom: 17px;
}
.Blocs
{
    color: white;
    width: 30%;
    background-color: rgba(128, 128, 128, 0.14);
    border-radius: 20px;
    padding: 35px;
    width: 15%;
    height: 35vh;
    text-align: center;   
}
.Container
{
    display: flex;
    justify-content: center;
}
.Blocs button:hover
{
    background: transparent;
    border: 2px solid crimson;
    border-radius: 23px;
    padding: 8px 25px 8px 25px;
    transform: none;
}
.Blocs h2
{
    margin-bottom: 17px;
}
.Blocs p
{
    margin-bottom: 17px;
    text-align: justify;
    color: lightpink;
}
.Blocs:nth-child(2)
{
   margin-left: 25px;
   margin-right: 25px;
}
/*Fin section3*/
.section4
{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section4 h1
{
    font-size: 1.6em;
    color: white;
    margin-bottom: 20px;
}
.section4 button:hover
{
    background: transparent;
    border: 2px solid crimson;
    border-radius: 23px;
    padding: 8px 25px 8px 25px;
    transform: none;
}
/*Fin section4*/
.section5
{
    background-color: black;
    width: 100%;
    height: 45vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section5 h2
{
    margin-bottom: 15px;
    font-size: 1.8em;
}
.section5 p
{
    margin-bottom: 15px;
    color: lightpink;
}
.section5 i
{
    color: crimson;
    font-size: 30px; 
    cursor: pointer;
    transition: 0.1s;
}
.section5 i:nth-child(1)
{
   margin-right: 10px;
}
.section5 i:nth-child(4)
{
   margin-left: 10px;
}
.section5 i:nth-child(3)
{
    margin-left: 12px;
}
.section5 i:hover
{
    transform: scale(1.5);
}